.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
  }

  &.danger {
    background: #e73f5d;
    border: 1px solid #e73f5d;
    color: #fff;
    &:hover {
      background: #d73754;
    }
  }

  &.logout {
    background: #dbdcdd;
    border: 1px solid #dbdcdd;
    color: #737380;
    &:hover {
      background: #cecece;
    }
  }

  &:not(:disabled):hover {
    filter: brightness(0.95);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


.dark{
  .outlined{
    background: #181a1b;
    color: #8259fd;
    border-color: #270296;
    &:hover {
      filter: brightness(1.1);
    }
  }

  .logout {
    background-color: #2c2f31;
    border-color: #3a3f41;
    color: #9b9386;
    &:hover {
      background: #3d4144;
    }
  }
}