.empty-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  gap: 14px;

  p {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #29292e;
  }

  span {
    font-weight: 400;
    color: #737380;
    font-size: 14px;
  }
}