#page-admin {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 414px) {
        flex-wrap: wrap;
      }

      @media (min-width: 425px) and (max-width: 430px) {
        flex-direction: column;
      }

      @media (max-width: 320px) {
        flex-wrap: wrap;
      }

      > a {
        img {
          max-height: 45px;

          @media (min-width: 425px) and (max-width: 430px) {
            margin-bottom: 16px;
          }
        }
      }

      > div {
        display: flex;
        gap: 16px;

        @media (max-width: 414px) {
          flex-direction: column;
          gap: 14px;
        }

        @media (min-width: 425px) and (max-width: 430px) {
          gap: 8px;
        }

        @media (max-width: 320px) {
          flex-direction: column;
        }

        button {
          height: 40px;

          @media (max-width: 320px) {
            width: 150px;
          }
        }
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;

    @media (max-width: 414px) {
      margin: auto 16px;
    }

    @media (max-width: 770px) {
      margin: auto 24px;
    }

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      @media (max-width: 414px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        color: #29292e;

        @media (max-width: 414px) {
          font-size: 18px;
        }
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 51px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;

        @media (max-width: 414px) {
          margin-top: 20px;
          text-align: center;
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }

  .wait-question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
