.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;
  width: 180px;
  transition: 0.15s;

  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 12px 0 12px;
    font-size: 14px;
    font-weight: 500;
    color: #29292e;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: 0.1s;
  }

  &:active {
    span {
      font-size: 13px;
    }
  }
  @media (min-width: 1000px) {
    &:hover {
      width: 280px;
      span {
        width: 240px;
        text-overflow: initial;
        overflow: visible;
      }
    }
  }
}

.dark {
  .room-code {
    background-color: #181a1b;
    border-color: #270296;

    div {
      background: #270295;
    }

    span {
      color: #cdc8c2;
    }
  }
}
